@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Noto Sans KR";
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}